# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your Neon database (pooler).
# @see https://www.prisma.io/docs/orm/overview/databases/neon#how-to-use-neons-connection-pooling
DATABASE_URL="postgres://[USERNAME]:[PASSWORD]@ep-lively-haze-a10zei6o-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# Uploadthing
# @see https://docs.uploadthing.com/getting-started/appdir
UPLOADTHING_TOKEN=""

# Resend
# @see https://resend.com/docs/send-with-nextjs
RESEND_KEY=""

# Preconfigured Discord OAuth provider, works out-of-the-box
# secret key for hash password
# generate with `openssl rand -base64 32`
AUTH_SECRET=""
# @see https://arcticjs.dev/guides/oauth2
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
